body {
    background-color: #c9cad4;
}
header {
    margin-top: 20px;
}
.logo-header {
    background-image: url('../images/header.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
}